<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>类Excel操作表格功能</title>
<script src="./common/angular/1.2.28/angular.min.js"></script>
<link href="./common/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
<link href="./common/bootstrap/3.3.4/css/bootstrap-theme.css" rel="stylesheet">
<script src="./common/jquery/2.1.1/jquery.js"></script>
<link rel="stylesheet" href="./common/jquery-ui/1.11.0/jquery-ui.css">
<link rel="stylesheet" href="./common/jquery-ui/1.11.0/jquery.ui.selectable.css">
<script src="./common/jquery-ui/1.11.0/jquery-ui.js"></script>
<script src="./common/bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="./common/contextMenu/contextMenu.js"></script>
<style>
        /* <![CDATA[ */
        #tableTitle {width: 100%;}
        #tableTitle tr {height:1cm;}
        #tableTitle td.ui-selecting { background: #FECA40; }
        #tableTitle td.ui-selected  { background: #F39814; color: white; }
        #tableTitle td {
            height: 18px;
            padding: 0.4em;
            font-size: 1.4em;
            width: 1cm;
        }
				
        /* ]]> */
</style>
</head>
<body>
<div ng-app="app" ng-controller="appController" class="container" style="width:100%">
<div class="panel panel-info">
  <div class="panel-heading">表格操作</div>
  <div class="panel-body">
  	<div class="row">
		  <div class="col-md-1"><button type="button" class="btn btn-primary" ng-click="addRow()">往上增加行</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-success" ng-click="delCurrentRow()">删除当前行</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-info" ng-click="mergeCell()">合并单元格</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-warning" ng-click="splitCell()">拆分单元格</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-danger" ng-click="removeColumns()">删除当前列</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-primary" ng-click="appendColumns(-1)">添加左边列</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-success" ng-click="appendColumns(1)">添加右边列</button></div>
		  <div class="col-md-1"><button type="button" class="btn btn-warning" ng-click="undo()">撤消表格操作</button></div>
		  <div class="col-md-1"><!--  <button type="button" class="btn btn-info">添加连接报表</button> --></div>
		  <div class="col-md-1"></div>
		  <div class="col-md-1"></div>
		  <div class="col-md-1"></div>
	</div>
   
  </div>
</div>
<div class="row">
<table border=1 id="tableTitle" context-menu="menuOptions" >
	<tr ng-repeat="row in tableTitles.rows track by $index" style="height: 40 px;">
		<td ng-repeat="td in row.row" colspan="{{td.colspan||1}}" rowspan="{{td.rowspan||1}}"><span style="width:100%;" >{{td.title}}</span></td>
	</tr>
</table>
</div>
</div>
<script src="./js/tableOperation.js"></script>
</body>
</html>
